@use '../base/' as b;

.inner-hero {
	picture,
	img {
		width: 100%;
	}

	.text-block {
		background-color: #fff;
		padding-top: 4.063rem;
		margin-top: -2.813rem;
		margin-bottom: 4.813rem;
		position: relative;

		&::before {
			position: absolute;
			content: '';
			background-color: #fff;
			width: 100em;
			height: 100%;
			left: -100em;
			top: 0;
		}

		.heading--md {
			margin-bottom: 1.313rem;
		}
	}

	@include b.breakpoint(md) {
		display: grid;
		grid-template-areas: 'content';
		margin-bottom: 12.5rem;
		width: var(--clamp);
		margin-inline: auto;

		.content,
		.text-block {
			grid-area: content;
		}

		.text-block {
			margin: 0 -1px -1px 0;
			padding-top: 10.125rem;
			align-self: flex-end;
			justify-self: end;
			margin-left: auto;
			width: 89%;
			padding-left: 3.688rem;
			position: relative;

			&::before {
				display: none;
			}

			&::after {
				content: '';
				position: absolute;
				top: 5.5rem;
				left: 3.688rem;
				width: 65px;
				height: 1px;
				background-color: var(--clr-p-400);
			}

			.heading--xl {
				position: absolute;
				top: -5.313rem;
				right: 0;
			}
		}
	}

	@include b.breakpoint(lg) {
		grid-template-columns: 57.19444444% 1fr;
		grid-template-areas: 'image text';

		.content {
			grid-area: image;
			width: unset;
		}
		.text-block {
			grid-area: text;
			padding-left: 11.375rem;
			margin-left: -9.5rem;
			padding-top: 13.625rem;

			&::after {
				left: 11.375rem;
				top: 8.5rem;
			}

			.heading--xl {
				top: -5.313rem;
			}
		}
	}
}

// .inner-hero {
// 	position: relative;
// 	margin-bottom: 4.813rem;

// 	picture {
// 		img {
// 			width: 100%;
// 			object-fit: cover;
// 			object-position: center;
// 		}
// 	}

// 	.text-block {
// 		background-color: #fff;
// 		border-top: 2.813rem solid #fff;
// 		margin-top: -2.813rem;
// 		position: relative;
// 		margin-bottom: 4.813rem;

// 		&::before {
// 			position: absolute;
// 			content: '';
// 			width: 10em;
// 			left: -10em;
// 			top: -2.813rem;
// 			height: calc(100% + 2.813rem);
// 			background-color: #fff;
// 		}

// 		.heading--md {
// 			margin-bottom: 1.25rem;
// 		}
// 	}

// 	@include b.breakpoint(md) {
// 		display: grid;
// 		grid-template-areas: 'content';
// 		width: var(--clamp);
// 		margin-inline: auto;
// 		// overflow: hidden;
// 		margin-bottom: 12.5rem;

// 		picture,
// 		.text-block {
// 			grid-area: content;
// 		}

// 		.text-block {
// 			width: 89.706%;
// 			padding-left: 3.688rem;
// 			align-self: end;
// 			justify-self: end;
// 			border-top: 0;
// 			margin: unset;

// 			&::before {
// 				display: none;
// 			}

// 			.heading--xl {
// 				margin-top: -5.5rem;
// 				text-align: right;
// 			}

// 			.heading--md {
// 				padding-top: 4.563rem;
// 				position: relative;

// 				&::before {
// 					position: absolute;
// 					top: 0;
// 					left: 0;
// 					content: '';
// 					width: 4.063rem;
// 					height: 1px;
// 					background-color: var(--clr-p-400);
// 				}
// 			}
// 		}
// 	}

// 	@include b.breakpoint(lg) {
// 		display: grid;
// 		width: 100%;
// 		grid-template-columns: 50% 1fr;
// 		grid-template-areas: 'image text';

// 		picture {
// 			grid-area: image;
// 		}

// 		.text-block {
// 			margin-inline: unset;
// 			grid-area: text;
// 			width: unset;
// 			margin-left: -9.375rem;
// 			padding-top: 8rem;
// 			position: relative;

// 			.heading--xl {
// 				position: absolute;
// 				top: -1rem;
// 				right: 0;
// 			}

// 			.heading--md,
// 			.text {
// 				padding-left: 7.5rem;
// 				max-width: 80%;
// 			}
// 			.text {
// 				max-width: 68.887%;
// 			}

// 			.heading--md {
// 				&::before {
// 					top: 15px;
// 					left: 12.5rem;
// 				}
// 			}
// 		}
// 	}
// }
