@use '../base/' as b;

// Menu Button
.menu-button {
	width: 1.5rem;
	height: 1.063rem;
	position: relative;
	padding: 0;
	border: 0;
	background-color: transparent;

	span {
		position: absolute;
		transform: rotate(0deg);
		width: 100%;
		height: 0.188rem;
		background-color: var(--clr-p-100);
		opacity: 1;
		left: 0;
		transition: all var(--trans-dur);

		&:nth-child(1) {
			top: 0;
		}

		&:nth-child(2),
		&:nth-child(3) {
			top: 50%;
			margin-top: -0.094rem;
		}

		&:nth-child(4) {
			bottom: 0;
		}
	}

	&.active {
		span {
			&:nth-child(1),
			&:nth-child(4) {
				top: 50%;
				margin-top: -0.094rem;
				width: 0;
				left: 50%;
			}

			&:nth-child(2) {
				transform: rotate(45deg);
			}

			&:nth-child(3) {
				transform: rotate(-45deg);
			}
		}
	}
}

// Fadeout
.fade-out {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	pointer-events: none;
	opacity: 0;
	transition: all var(--trans-dur);

	&.active {
		pointer-events: auto;
		opacity: 0.5;
	}

	@include b.breakpoint(lg) {
		display: none;
	}
}

.main-nav {
	// Mobile nav buttons
	.mobile-nav-buttons {
		background-color: #fff;
		position: relative;
		z-index: 2;
		padding-block: 2rem;

		@include b.breakpoint(md) {
			.content {
				position: relative;

				&::before {
					position: absolute;
					content: '';
					width: 1px;
					height: 6.5rem;
					background-color: var(--clr-p-400);
					top: -2rem;
					left: -5.375rem;
				}
			}
		}

		@include b.breakpoint(lg) {
			display: none;
		}
	}

	// Main nav - Mobile
	.mobile-menu {
		background-color: var(--clr-p-500);
		padding: 2.438rem 3rem 2.625rem 3rem;
		position: absolute;
		z-index: 1;
		width: 90%;
		list-style: none;

		> *:where(:not(:first-child)) {
			margin-top: 1.063rem;
		}

		li {
			a {
				text-decoration: none;
				color: var(--clr-p-100);
				font-size: 2rem;
				font-weight: 700;
			}

			&:first-of-type {
				display: none;

				@include b.breakpoint(lg) {
					display: block;
				}
			}
		}

		@include b.breakpoint(lg) {
			display: none;
		}
	}

	// Desktop Menu
	.desktop-menu {
		display: none;

		@include b.breakpoint(lg) {
			display: flex;
			align-items: center;
			list-style: none;
			gap: 3.75rem;
			padding-block: 3.5rem;
			position: relative;

			&::before {
				position: absolute;
				content: '';
				width: 1px;
				height: 100%;
				background-color: var(--clr-p-400);
				top: -3.5rem;
				left: -5.375rem;
			}

			li {
				&:first-of-type {
					margin-right: 2.125rem;
					transition: all var(--trans-dur);
					outline: solid 2px hsla(224, 14%, 12%, 0);
					outline-offset: 15px;

					&:focus-within {
						outline-offset: 25px;
						outline: solid 2px hsla(224, 14%, 12%, 1);
					}
				}

				a {
					text-decoration: none;
					line-height: 139%;
					font-weight: 700;
					font-size: 1.125rem;
					color: var(--clr-p-300);
					position: relative;
					transition: all var(--trans-dur);
					outline: solid 2px hsla(224, 14%, 12%, 0);
					outline-offset: 15px;

					&.active {
						color: var(--clr-p-100);

						&::after {
							position: absolute;
							content: '';
							width: 70%;
							height: 1px;
							background-color: var(--clr-p-100);
							left: 50%;
							transform: translateX(-50%);
							bottom: -10px;
						}
					}

					&:hover {
						color: var(--clr-p-100);
					}

					&:focus {
						outline-offset: 25px;
						outline: solid 2px hsla(224, 14%, 12%, 1);
					}
				}
			}
		}
	}
}
