:root {
	--clr-p-100: hsla(224, 14%, 12%, 1); // 1B1D23 | Very Dark Blue
	--clr-p-200: hsla(224, 6%, 40%, 1); // 60636D | Dark Grey
	--clr-p-300: hsla(224, 8%, 53%, 1); // 7D828F | Medium Grey
	--clr-p-400: hsla(224, 17%, 82%, 1); // C8CCD8 | Light Grey
	--clr-p-500: hsla(224, 23%, 94%, 1); // EEEFF4 | Very Light Grey
	--clr-p-600: hsla(0, 69%, 61%, 1); // DF5656 | Red
}
