@use './utils' as u;

// Reset
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

// Spacing to use between trays
.flow {
	> *:where(:not(:first-child)) {
		margin-top: 1rem;

		@include u.breakpoint(lg) {
			margin-top: 2rem;
		}
	}
}

// Setup for responsive containers
:root {
	--clamp: clamp(19.438rem, 74.61vw, 69.375rem);
}

.content {
	width: var(--clamp);
	margin-inline: auto;
	position: relative;

	&.break-out {
		width: 100%;

		@include u.breakpoint(md) {
			width: var(--clamp);
		}
	}
}

// Page header position
.page-header {
	display: none;

	@include u.breakpoint(md) {
		display: block;
		transform: rotate(90deg);
		transform-origin: left center;
		position: absolute;
		top: 3.9rem;
		left: -3.188rem;
		color: var(--clr-p-400);
		font-size: 1.125rem;
		font-weight: 500;
		letter-spacing: 1.125rem;
		text-transform: uppercase;
	}

	@include u.breakpoint(lg) {
		top: -0.9rem;
		left: -5.488rem;
	}
}

// Page body text block
.body-text {
	img {
		display: none;
	}

	@include u.breakpoint(md) {
		padding-top: 0;
		margin-bottom: 14.563rem;
	}

	@include u.breakpoint(lg) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 'text-block image';
		margin-bottom: 12.5rem;

		.body {
			grid-area: text-block;
			padding-right: 7.75rem;
		}

		img {
			grid-area: image;
			display: block;
			margin-left: auto;
		}
	}
}

.leaflet-container {
	width: 100wh;
	height: 35rem;
}
