:root {
	--trans-dur: 0.25s ease-in-out;
}

$breakpoints: (
	md: 48rem,
	lg: 90rem,
);

@mixin breakpoint($name) {
	@if not map-has-key($breakpoints, $name) {
		@warn "Warning: `#{$name}` is not a valid breakpoint name.";
	} @else {
		@media (min-width: map-get($breakpoints, $name)) {
			@content;
		}
	}
}

.flex {
	display: flex;
}

.align-center {
	align-items: center;
}

.space-between {
	justify-content: space-between;
}

// Image shade
.image-shade {
	img {
		filter: brightness(85%);
	}
}
